.footerWrapper {
        z-index: 1;
    text-align: center;
    padding: 50px 0;
    position: relative;
    h2 {
        font-size: 24px;
    }
    .menuWrapper {
        margin: 30px 0;
        ul {
            li {
                display: inline-block;
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
    .socialWrapper {
        ul {
            li {
                display: inline-block;
                margin: 0 4px;
                position: relative;
                background-color: #0e0e0e;
                border: 1px solid #2f2f2f;
                padding: 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                img {
                    height: 15px !important;
                    width: 15px !important;
                    top: 50% !important;
                    left: 50% !important;
                    transform: translate(-50%, -50%);
                    transition: all .4s ease-in-out;
                }
                &:hover {
                    scale: 1.1;
                    background-color: #fff;
                    img {
                        scale: 1.1;
                        filter: invert(1);
                    }
                }
            }
        }
    }
}
