.heroMainWrapper {
  padding: 200px 0 100px 0;
  background-image: url("/images/hero-back-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .heroWrapper {
    display: flex;

    .leftSection {
      width: 70%;
      h2 {
        font-family: var(--font-bruno);
        font-size: 55px;
        max-width: 700px;
        font-weight: lighter;
        text-transform: uppercase;
      }
      .flexWrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        h3 {
          max-width: 280px;
          font-weight: 300;
        }
      }
    }
    .rightSection {
    }
  }
}

.swiperWrapper {
  margin-top: 100px;
  max-width: 600px;
  padding: 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  .heroSlider {
    width: 100%;
    height: 128px;
  }

  .heroSlider img {
    width: 140px !important;
    height: auto !important;
    object-fit: cover;
  }

  .swiperBottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 4px;
    left: 15px;
    right: 15px;
    z-index: 2;
    .leftSet {
      display: flex;
      gap: 20px;
      align-items: center;
      h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
      }
      .customNav {
        display: flex;
        gap: 5px;
        z-index: 10;
      }

      .customNext {
        transform: rotate(180deg);
      }

      .customPrev,
      .customNext {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        background-image: url("/icons/arrow-side.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7px;
        cursor: pointer;
      }
    }
    .exploreBtn {
      background-image: url("/images/light-button-back.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      padding: 15px 15px 15px 35px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      position: relative;
      &::before {
        content: "";
        background-image: url("/icons/arrow-red.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 12px;
        height: 12px;
        filter: brightness(0) invert(1);
      }
    }
  }
}

// About Section
.mainAboutWrapper {
  padding: 100px 0;
  h4 {
    position: relative;
    padding-left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 10px;
      height: 20px;
      background-image: url("/icons/triangle.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10px;
    }
  }
  .aboutFlex {
    display: flex;
    gap: 30px;
    .innerBox {
      h2 {
        font-size: 18px;
        font-weight: lighter;
        color: #9f9f9f;
        text-align: right;
        margin-top: 20px;
      }
      h3 {
        font-family: var(--font-bruno);
        text-transform: uppercase;
        max-width: 700px;
        font-size: 40px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        img {
          width: 140px !important;
          height: auto !important;
          position: relative !important;
        }
      }
      video {
        max-width: 100%;
      }
      &:nth-child(1) {
        width: 40%;
        padding-top: 72px;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 40%;
      }
    }
  }
}
// About Section Ends

// Stack Pack
.stackBoxWrapper {
  .stackBox {
    height: 500px;
    padding: 80px 60px;
    // background-color: red;
    // display: block;
    // &:nth-child(1) {
    //   background-color: black;
    // }
    // &:nth-child(2) {
    //   background-color: white;
    // }
    .contentFlexWrapper {
      display: flex;
      gap: 30px;
      height: 100%;
      .imgSet {
        position: relative;
        width: 60% !important;
        // height: 353px !important;
        img {
          object-fit: cover;
        }
      }
      .contentSet {
        width: 40%;
        padding-left: 30px;
        .light {
          color: #fff;
        }
        h2 {
          font-family: var(--font-bruno);
          text-transform: uppercase;
          font-size: 30px;
          font-weight: lighter;
          color: #000;
        }
        h3 {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
// Stack Pack Ends
