.bannerContent {
  text-align: center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 100%;
  // transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  // position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: linear-gradient(to bottom, #000, #FB5702);
  // }
  h2 {
    text-transform: uppercase;
    background-color: rgb(29 29 29 / 57%);
    border: 1px solid #878787;
    border-radius: 4px;
    width: max-content;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
  }
  h3 {
    margin-top: 30px;
    font-size: 100px;
    font-weight: 500;
    line-height: 1.1;
    @media screen and (max-width: 768px) {
      font-size: 40px;
    }
    // text-transform: uppercase;
  }
  h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
  }
  .btnWrapper {
    margin-top: 60px;
    button {
      cursor: pointer;
      color: #fff;
      background: transparent;
      border-bottom: 1px solid var(--theme);
      padding: 6px 0;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.4s ease-in-out;
      &:hover {
        border-color: var(--theme)
      }
    }
  }
}

.welcomeScreen {
  // padding: 0 0 200px 0;
  z-index: 1;
  position: relative;
  .welcomeSplit {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media screen and (max-width: 768px) {
      display: block;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 400;
      line-height: 1.2;
    }
    h3 {
      font-weight: 300;
      line-height: 1.2;
      font-size: 18px;
    }
  }
}

.videoPortfolio {
  position: relative;
  z-index: 1;
}

.OurServices {
  padding: 100px 0;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  img {
    height: 50px !important;
  }
}

.portfolioMainWrapper {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  background-image: linear-gradient(to bottom, #131313, rgba(0, 0, 0, 0));
  .portfolioHead {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
    h3 {
      font-size: 30px;
      color: #fff;
      max-width: 300px;
    }
    button {
      cursor: pointer;
      background-color: #0e0e0e;
      border: 1px solid #2f2f2f;
      border-radius: 4px;
      padding: 18px 30px;
      font-size: 14px;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  .portfolioFlex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .portfolioBox {
      &:nth-child(2n) {
        margin-top: 100px;
        @media screen and (max-width: 768px) {
          margin-top: unset;
        }
      }
      .imgWrapper {
        height: 340px;
        position: relative;
        img {
          object-fit: cover;
          border-radius: 5px;
        }
      }
      ul {
        margin-top: 20px;
        li {
          background-color: #2f2f2f;
          color: #fff;
          padding: 5px 15px;
          border-radius: 5px;
          display: inline-block;
          margin-right: 15px;
          font-size: 14px;
          font-weight: 300;
        }
      }
      h2 {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        margin-top: 30px;
      }
      p {
        color: #fff;
        margin-top: 10px;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}
