.heroMainWrapper {
  padding: 200px 0 100px 0;
  background-image: url("/images/hero-back-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .heroWrapper {
    display: flex;

    .leftSection {
      width: 70%;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      h2 {
        font-family: var(--font-bruno);
        font-size: 55px;
        max-width: 700px;
        font-weight: lighter;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
          font-size: 35px;
        }
      }
      .flexWrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        @media screen and (max-width: 991px) {
          flex-direction: column;
          align-items: start;
        }
        h3 {
          max-width: 280px;
          font-weight: 300;
        }
      }
    }
    .rightSection {
    }
  }
}

.swiperWrapper {
  margin-top: 100px;
  max-width: 600px;
  padding: 15px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  .heroSlider {
    width: 100%;
    height: 128px;
  }

  .heroSlider img {
    width: 140px !important;
    height: auto !important;
    object-fit: cover;
  }

  .swiperBottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 4px;
    left: 15px;
    right: 15px;
    z-index: 2;
    .leftSet {
      display: flex;
      gap: 20px;
      align-items: center;
      h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
      }
      .customNav {
        display: flex;
        gap: 5px;
        z-index: 10;
      }

      .customNext {
        transform: rotate(180deg);
      }

      .customPrev,
      .customNext {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        background-image: url("/icons/arrow-side.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7px;
        cursor: pointer;
      }
    }
    .exploreBtn {
      background-image: url("/images/light-button-back.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      padding: 15px 15px 15px 35px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      position: relative;
      &::before {
        content: "";
        background-image: url("/icons/arrow-red.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 12px;
        height: 12px;
        filter: brightness(0) invert(1);
      }
    }
  }
}

// About Section
.mainAboutWrapper {
  padding: 100px 0;
  .aboutFlex {
    display: flex;
    gap: 30px;

    .innerBox {
      h2 {
        font-size: 18px;
        font-weight: lighter;
        color: #9f9f9f;
        text-align: right;
        margin-top: 20px;
      }
      h3 {
        font-family: var(--font-bruno);
        text-transform: uppercase;
        max-width: 700px;
        font-size: 40px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        img {
          width: 140px !important;
          height: auto !important;
          position: relative !important;
        }
      }
      video {
        max-width: 100%;
      }
      &:nth-child(1) {
        width: 40%;
        padding-top: 72px;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 40%;
      }
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
      .innerBox {
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 100%;
        }
        &:nth-child(3) {
          width: 100%;
        }
      }
    }
  }
}
// About Section Ends

// Stack Pack
.stackBoxWrapper {
  position: relative;
  h5 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .stackBox {
    height: 500px;
    padding: 80px 60px;
    // background-color: red;
    // display: block;
    // &:nth-child(1) {
    //   background-color: black;
    // }
    // &:nth-child(2) {
    //   background-color: white;
    // }
    .tagBox1,
    .tagBox2,
    .tagBox3 {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: fit-content;
      padding: 7px 25px 7px 80px;
      position: absolute;
      top: 0;
      right: 14%;
      h4 {
        font-family: var(--font-bruno);
        text-transform: uppercase;

        font-size: 12px;
        font-weight: lighter;
        min-width: 200px;
      }
    }
    .tagBox1 {
      background-image: url("/images/tab-back-1.svg");
      h4 {
        color: #fff;
      }
    }
    .tagBox2 {
      background-image: url("/images/tab-back-2.svg");
      h4 {
        color: #000;
      }
    }
    .tagBox3 {
      background-image: url("/images/tab-back-3.svg");
      h4 {
        color: #fff;
      }
    }
    .contentFlexWrapper {
      display: flex;
      gap: 30px;
      height: 100%;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
      .imgSet {
        position: relative;
        width: 60% !important;
        // height: 353px !important;
        @media screen and (max-width: 991px) {
          width: 100% !important;
          height: 200px;
        }
        img {
          object-fit: cover;
          object-position: left;
        }
      }
      .contentSet {
        width: 40%;
        padding-left: 30px;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        .light {
          color: #fff;
        }
        h2 {
          font-family: var(--font-bruno);
          text-transform: uppercase;
          font-size: 30px;
          font-weight: lighter;
          color: #000;
          @media screen and (max-width: 991px) {
            font-size: 16px;
          }
        }
        h3 {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
// Stack Pack Ends

// Portfolio Section

.mainPortfolioWrapper {
  padding: 100px 0;
  padding: 20px;
  .portfolioParentBox {
    background-color: #f4f4f4;
    padding: 100px 0;
    .portfolioheader {
      margin-bottom: 60px;
      color: #000;
      display: flex;
      align-items: end;
      gap: 20px;
      h2 {
        max-width: 305px;
      }
      h3 {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .portfolioFlex1 {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
      .bigBox {
        position: relative;
        height: 400px;
        width: 60%;
        border-radius: 5px;
        overflow: hidden;
        @media screen and (max-width: 991px) {
          width: 100%;
          height: 200px;
        }
        a {
          img {
            object-fit: cover;
            object-position: left;
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .smallBox {
        position: relative;
        height: 400px;
        width: 40%;
        border-radius: 5px;
        overflow: hidden;
        @media screen and (max-width: 991px) {
          width: 100%;
          height: 200px;
        }
        a {
          img {
            object-fit: cover;
            object-position: left;
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// Portfolio Section Ends

// 3D Section

.whatMattersWrapper {
  padding: 100px 0;
  .videoHeader {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 30px;
    h2 {
      font-family: var(--font-bruno);
      text-transform: uppercase;
      font-size: 60px;
      text-align: right;
      @media screen and (max-width: 991px) {
        font-size: 30px;
      }
      span {
        color: var(--theme);
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .videoWrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 47%);
    }
    .blenderTag {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 30px;
      height: 30px;
    }
    h3 {
      position: absolute;
      bottom: 30px;
      left: 30px;
      max-width: 280px;
      font-family: var(--font-bruno);
      text-transform: uppercase;
      font-size: 30px;

      @media screen and (max-width: 991px) {
        position: relative;
        bottom: unset;
        left: 0;
        top: 18px;
      }
    }
    h5 {
      max-width: 400px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 14px;
      font-weight: 400;
      text-align: right;

      @media screen and (max-width: 991px) {
        position: relative;
        bottom: unset;
        top: 48px;
        right: 0;
        max-width: unset;
      }
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

// 3D Section Ends
