.footerMainWrapper {
    background-color: #000;
    padding: 40px 0 0;
    .footerHead {
        display: flex;
        gap: 20px;
        align-items: start;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            margin-top: 15px;
        }
        .sectOne {
            width: 35%;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            h2 {
                font-family: var(--font-bruno);
                text-transform: uppercase;
                font-size: 40px;
                line-height: 1;
                font-weight: bolder;

                @media screen and (max-width: 991px) {
                    font-size: 24px;
                }
            }
            h3 {
                font-weight: 400;
                margin-top: 10px;
            }
        }
        .sectTwo {
            width: 15%;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            ul {
                li {
                    margin: 0 10px;
                    font-weight: 400;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }
        }
        .sectThree {
            width: 25%;
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
            }

            h5 {
                font-size: 16px;
                font-weight: 600;
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
                font-weight: 400;
                a {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    img {
                        position: relative !important;
                        height: 20px !important;
                        width: auto !important;
                    }
                }
            }

            .socialWrapper {
                margin-top: 10px;
                li {
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    background-color: #0e0e0e;
                    border: 1px solid #2f2f2f;
                    padding: 20px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;
                    img {
                        height: 15px !important;
                        width: 15px !important;
                        top: 50% !important;
                        left: 50% !important;
                        transform: translate(-50%, -50%);
                        transition: all 0.4s ease-in-out;
                    }
                    &:hover {
                        scale: 1.1;
                        background-color: #fff;
                        img {
                            scale: 1.1;
                            filter: invert(1);
                        }
                    }
                }
            }
        }
        .sectFour {
            width: 25%;
        }
    }
}

.subFooter {
    background-color: #161616;
    padding: 10px 0;
    margin-top: 25px;
    h6 {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
}

.curvedLoop {
    font-size: 80px;
}
